<% content_for(:title) do %>
  <%= t('year_in_review_music_tracks.index.title', user: name_with_apostrophe(@group.name), year: params[:year]) %>
<% end %>

<% content_for :breadcrumbs do %>
  <%= raw [
    link_to(@group.name, music_group_path(@group)),
    link_to(I18n.t('years_in_review_music.index.short_title'), group_music_years_in_review_path(@group)),
    link_to(I18n.t('years_in_review_music.show.title', year: @year_in_review.year), group_music_year_in_review_path(@group, @year_in_review.year)),
    link_to(I18n.t('year_in_review_music_tracks.index.shortest_title'), group_music_year_in_review_top_tracks_path(@group, @year_in_review.year))
  ].join(' > ') %>
<% end %>

<div id="years_in_review">
  <%= render partial: 'library/music/year_in_review_tracks/collection' %>
</div>
