<h3><%= t('music_metadata_enrichment_group_artist_connections.import.title') %></h3>

<%= simple_form_for(@group, url: import_music_group_artists_path, method: :get, html: {class: 'form-horizontal'}) do |f| %>
  <%= f.input :artist_connections_text, as: :text %>
  <%= f.submit %>
<% end %>