<h3><%= t('music_metadata_enrichment_group_artist_connections.import.title') %></h3>

<%= simple_form_for(
  @group, url: post_import_music_group_artists_path(@group.id), method: :post, 
  html: {class: 'form-horizontal'}, wrapper: :horizontal_form
) do |f| %>
  <%= f.input :artist_connections_text, as: :text %>
  <div class="form-group">
    <div class="col-sm-offset-3 col-sm-9">
      <%= f.button :submit %>
    </div>
  </div>
<% end %>