<h3><%= t('music_artists.by_name.title') %></h3>

<%= render partial: 'music_metadata_enrichment/artists/collection', locals: { title: t('music_artists.index.empty_collection'), with_founded_at: true, with_top_tracks: true, paginate: true } %>