<% content_for :search do %>
  <%= form_tag by_name_music_artists_path, method: :get, class: 'form-search' do %>
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <%= text_field_tag 'name', params[:name], class: 'input-medium search-query', placeholder: t('music_artists.index.search_placeholder') %>
    <button type="submit" class="btn"><%= t('general.search') %></button>
  <% end %>
<% end %>