<% content_for(:title) do %>
  <%= t('years_in_review_music.show.title_with_name', user: name_with_apostrophe(@user.lastfm_user_name || @user.full_name), year: params[:year]) %>
<% end %>

<ul class="nav nav-tabs nav-stacked">
  <li><%= link_to(
    t('year_in_review_music_releases.index.shortest_title'), user_music_year_in_review_top_releases_path(params[:user_id], params[:year])
  ) %></li>
  <li><%= link_to(
    t('year_in_review_music_tracks.index.shortest_title'), user_music_year_in_review_top_tracks_path(params[:user_id], params[:year])
  ) %></li>
</ul>
