<% content_for(:title) do %>
  <%= t('year_in_review_music_releases.index.title', user: name_with_apostrophe(@user.lastfm_user_name || @user.full_name), year: params[:year]) %>
<% end %>

<% content_for :breadcrumbs do %>
  <%= raw [
    link_to(I18n.t('music_library.index.title', name: name_with_apostrophe(@user.lastfm_user_name || @user.full_name)), user_music_library_path(@user)),
    link_to(I18n.t('years_in_review_music.index.short_title'), user_music_years_in_review_path(@user)),
    link_to(I18n.t('years_in_review_music.show.title', year: @year_in_review.year), user_music_year_in_review_path(@user, @year_in_review.year)),
    link_to(I18n.t('year_in_review_music_releases.index.shortest_title'), user_music_year_in_review_top_releases_path(@user, @year_in_review.year))
  ].join(' > ') %>
<% end %>

<% content_for :document_ready do %>
  new window.VoluntaryMusicMetadataEnrichment.Library.YearInReviewReleases.IndexView();
<% end %>

<%= image_tag 'voluntary/spinner.gif', id: 'years_in_review_spinner', class: 'hide' %>

<div id="years_in_review">
  <%= render partial: 'library/music/year_in_review_releases/collection' %>
</div>
